body {
    background-color: rgba(43,45,141,255);
    font-family:'Press Start 2P', cursive;
    font-size: 10px;
    }

wrapper{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin:2rem;
    }


h1{
font-size: 300%;
color: rgba(238,173,21,255);
font-family:'Press Start 2P', cursive;
    }

img{
width: 40%;
height:20%;
}

.coverImg{
display: flex;
justify-content: center;
    }

.button{
/* width:100px;
height: 75px; */
border: 2px solid #000;
background-color: rgb(10, 56, 120);
display:flex;
justify-content:center;
align-items: center;
border: solid 5px rgba(238,173,21,255);
transition: border-width 1.2s linear;
    }
        
.button:hover{
border-width: 10px;
color: rgba(238,173,21,255);
background-color: rgb(19, 95, 201);
    }
    a {
        color: white;
        }

.gameGrid {
display: grid;
grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(6, 1fr);
color: white;
}

#questions1, #questions2, #questions3, #questions4, #questions5, #questions6 {
/* width: 7rem; */
height: 5rem;
background-color: rgba(43,45,141,255);
border: solid 1px rgba(238,173,21,255);
border-style: outset;
transition: border-width 0.6s;
font-family:'Press Start 2P', cursive;
color: white;

display:flex;
justify-content:center;
align-items: center;
}

#questions1:hover, #questions2:hover, #questions3:hover, #questions4:hover, #questions5:hover, #questions6:hover {
border-width: 3px;
background-color: darkblue;
color:rgba(238,173,21,255);

    }


        
#category1, #category2, #category3, #category4, #category5, #category6 {
width: 7rem;
height: 5rem;
border: 2px solid #000;
background-color: darkblue;
border: solid 1px rgba(238,173,21,255);

display:flex;
justify-content:center;
align-items: center;
    }

.score {
display:flex;
flex-direction: row;
justify-content: space-around;
margin: 2rem;
}

footer{
display: flex;
align-items: flex-end;
justify-content: center;
font-size: 8px;
    }
            
#notification {
color:white;
}

.displayQ {
background-color: rgba(43,45,141,255);
padding: 0px 0px;
border: solid 1px rgb(255, 212, 112);

}





